.boton__copiar{
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: absolute;
  width: 336px;
  height: 67px;
  left: 25px;
  top: 490px;

/* Dark blue/dark-blue-300 */

  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;
 
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 19px;
  text-align: center;
  
  /* Dark blue/dark-blue-300 */
  
  color: #0A3871;
  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
  justify-content: center;
}