.textbox__textarea{
    text-transform:lowercase;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 15%;
    top: 150px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;

    resize: none;
    color: #0A3871;
    background: transparent;
    border: none;
}
