.boton__desencriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;

    color: #0A3871;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    justify-content: center;
}