.resultBox {
    position: absolute;
    width: 400px;
    height: 585px;
    left: 68%;
    top: 20px;
    padding-left: 20px;
    padding-top: 80px;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}



