* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: rgb(233, 229, 229);
}

.main {
    position: relative;
    width: 100%;
    height: 100%;



}